# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.moved-aside
*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcshareddata/
xcuserdata/
*.xcarchive

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Supabase Keys
Secrets.swift
.supabase/

# Environment files
.env
*.env

# Logs
*.log

# macOS
.DS_Store

# Swift playgrounds
timeline.xctimeline
playground.xcworkspace